/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align:center;

  } */


.star {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('star.png');
    background-size: cover;
    cursor: pointer;
  }
  
  .rating {
    font-size: 0;
  }
  
  #result {
    font-weight: bold;
    margin-top: 10px;
  }
  